/* body {
    font-weight: 300;
    width: 100%;
    padding: 15px;
    background: #eee;
} */

.activity-container {
    font-weight: 300;
    /* width: 100%; */
    padding: 15px;
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}

h1 {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
}

.restaurant-image {
    height: 300px;
    width: 300px;
}

.activity-card {
    background: white;
    width: 350px;
    border: 2px solid #ccc;
    transition: all 0.4s ease;
    padding: 10px 20px 25px 20px;
    /* display: inline-block; */

    position: relative;
    margin-right: 7px;
}

.activity-card:hover {
    transform: scale(1.1);
    z-index: 1;
    border: 2px solid crimson;
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 0;
}



.btn {
    width: 100%;
    background: none;
    border: 1px solid red;
    color: black;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}

.btn:hover {
    border: 2px solid limegreen;
    cursor: pointer;
}

.btn #dislike:hover {
    color: red
}

/* span:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-right: solid 7px #4970b5;
    border-bottom: solid 10px rgba(0, 0, 0, 0);
    position: absolute;
    left: 0px;
    bottom: -10px;
    z-index: 1;
} */
