@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 1000px;
}

video {
    z-index: 50;
}

.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.banner .content {
    position: relative;
    z-index: 50;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-family: Parisienne;
}

.banner .content h1 {
    margin: 0;
    padding: 0;
    font-size: 5.5em;
    color: #fff;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.8rem lime;
}

.banner .content p {
    font-size: 2em;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

#picture-title {
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    text-align: center;
    padding-bottom: 50px;
}

#imgRight {
    height: 400px;
    width: 50%;
    float: right;
}

#imgLeft {
    height: 400px;
    width: 50%;
    float: left;
}

.box1 {
    width: 80%;
    height: 400px;
    margin: 20px auto;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: start;
    padding-bottom: 100px;
}

.box2 {
    width: 80%;
    height: 400px;
    margin: 20px auto;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 30px;
    text-align: end;
}

.box3 {
    width: 80%;
    height: 400px;
    margin: 20px auto;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

.box4 {
    width: 80%;
    height: 400px;
    margin: 20px auto;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    text-align: end;
}
