* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    width: 100vw;
    height: 20vh;
    z-index: 0;
    /* background-image: url(/images/rickandmorty.png); */
    /* background-color: blue   */
}

.navbar {
    width: 100%;
    padding: 0px;
    position: fixed;
    top: 0px;
    text-align: center;
    transition: 0.5s;
    margin-bottom: 30px
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 50px;
    font-size: 24px;
    border-radius: 5px;
    transition: 0.5s;
}

#nav-links {
    font-family: 'Krona One', sans-serif;
    text-decoration: none;
    color: orange;
    font: red;
    cursor: pointer;
}


.navbar ul li:hover {
    /* background-color: red; */
}

#nav-links:hover {
    color: red;
    font-weight: 800;
}

#nav-skull{
    height: 120px;
    width: 350px;
    float: left;
    padding-left: 20px;
}


