* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    width: 100vw;
    height: 15vh
}

.navbar {
    width: 100%;
    padding: 0px;
    position: fixed;
    top: 0px;
    text-align: center;
    transition: 0.5s;
    margin-bottom: 30px;
    z-index: 10
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 50px;
    font-size: 24px;
    border-radius: 5px;
    transition: 0.5s;
}

#nav-links {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: #5A8BF6;
    /* color: rgb(147, 147, 231); */
    font: red;
    cursor: pointer;
}

#nav-links:hover {
    color: red;
    font-weight: 400;
}

#nav-logo {
    height: 120px;
    width: 350px;
    float: left;
    padding-left: 20px;
}
